{% extends "base.html" %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{% block title %}Создать новый марафон{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Создать новый марафон</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <h4>Дистанции и цены</h4>
            {{ distances_and_prices.management_form }}
            <div id="distance-price-formset">
                {% for form in distances_and_prices %}
                    <div class="distance-price-form">
                        {{ form.distance.errors }}
                        {{ form.distance.label_tag }} {{ form.distance }}
                        
                        {{ form.price.errors }}
                        {{ form.price.label_tag }} {{ form.price }}
                    </div>
                {% endfor %}
                
            </div>
            <button type="button" id="add-distance-price" class="btn btn-secondary mt-3">Добавить дистанцию и цену</button>

            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
    <script>
        $(document).ready(function() {
            let formCount = {{ distances_and_prices.total_form_count }};
            let maxForms = {{ distances_and_prices.max_num }};
            let $formsetContainer = $("#distance-price-formset");
    
            $("#add-distance-price").click(function() {
                if (formCount < maxForms) {
                    let $newForm = $formsetContainer.children(".distance-price-form:first").clone(true);
                    $newForm.find('input, select').each(function() {
                        $(this).attr('name', $(this).attr('name').replace('0', formCount)); // заменяем 0 (индекс первой формы) на текущий formCount
                        $(this).attr('id', $(this).attr('id').replace('0', formCount)); // заменяем 0 (индекс первой формы) на текущий formCount для id
                    });
                    
                    $newForm.find('input, select').val('');  // сброс значений полей в новой форме

                    let newFormHtml = $newForm.get(0).outerHTML.replace(/__prefix__/g, formCount);
                    $formsetContainer.append(newFormHtml);
            
                    // Обновляем общее количество форм
                    $("#id_form-TOTAL_FORMS").val(formCount + 1);
                    formCount++;
                } else {
                    alert("Вы достигли максимального количества форм");
                }
            });
            
        });
    </script>
    
    <!-- Ниже можно добавить скрипт для добавления новых форм дистанции и цены, если необходимо -->

{% endblock %}