{% extends "base.html" %}
{% block title %}{{ marathon.title }}{% endblock %}
{% block content %}
    <h1>{{ marathon.title }}</h1>
    <p class="date">
        Published {{ marathon.publish }} by {{ marathon.author }}
    </p>
    <img src="{{ marathon.poster.url }}" alt="Афиша события">
    <p>Доступные дистанции:</p>
        <ul class="nav justify-content-center">
            {% for marathon_distance in marathonDistance %}
                {% if marathon_distance.marathon == marathon %}
                    <li>{{ marathon_distance.distance.name }} - {{ marathon_distance.price }} тнг.</li>
                    <hr>
                {% endif %}
            {% endfor %}    
        </ul>
    <p>Место старта: {{ marathon.start_location|truncatewords:30|linebreaks }}</p> 
    <p>Время старта: {{ marathon.date_and_time|truncatewords:30|linebreaks }}</p>


    <form method="post" class="participate-form">
        {% csrf_token %}
        <label for="distance">Выберите дистанцию:</label>
        {{ form.distance }}
        <input type="submit" value="Участвовать">
    </form>
{% endblock %}