{% extends "base.html" %} 
{% block title %}Search{% endblock %}
{% block content %}
    {% if query %}
        <h1>Marathons containing "{{ query }}"</h1> 
        <h3>
            {% with results.count as total_results %}
                Found {{ total_results }} result{{ total_results|pluralize }}
            {% endwith %}
        </h3>
        {% for marathon in results %}
        <div class="col-4">
            <div class="marathon-block">
                <img src="{{ marathon.poster.url }}" alt="Афиша события">
                <h2>
                    <a href="{{ marathon.get_absolute_url }}">
                    {{ marathon.title }}
                    </a>
                </h2>
                <div class="row">
                    <div class="col-6">
                        <div class="date-marathon">
                            <p>{{ marathon.date_and_time}}</p>
                        </div>
                    </div>
                </div>
                <div class="distance">
                    <ul class="nav justify-content-center">
                        {% for elem in marathonDistance %}
                            <a href="#"><li>{{ elem.distance }}</li></a>
                        {% endfor %}
                        <hr>
                        {% for el in marathonDistance %}
                            <a href="#"><li>{{ el.price }}тг</li></a>
                        {% endfor %}      
                    </ul>
                </div>
                <div class="participate">
                    <button class="btn btn-primary">
                        Участвовать
                    </button>
                </div>
            </div>
        </div> 
        {% empty %}
            <p>There are no results for your query.</p>
        {% endfor %}
        <p><a href="{% url "marathons:marathon_search" %}">Search again</a></p> 
    {% else %}
        <h1>Search for marathons</h1> 
        <form method="get">
            {{ form.as_p }}
            <input type="submit" value="Search">
        </form>
    {% endif %} 
{% endblock %}